.search-bar {
	display: flex;
	align-items: center;

	.search-btn {
		outline: none;
		border: none;
		width: 40px;
		height: 40px;
		background: none;
		cursor: pointer;
		padding: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		transition: background-color 200ms ease-in-out;

		&:hover {
			background-color: var(--color-white);
		}
	}
	.search-input {
		transition: width 100ms ease-in-out;
		width: 0;
		opacity: 0;
		border: none;
		border-bottom: 1px solid var(--color-white);
		height: 40px;
		background: var(--color-white);
		outline: none;
		padding: 0px;
		color: var(--color-text-primary);
		font-weight: var(--font-weight-bold);
	}
	&.expanded {
		& {
			column-gap: 10px;
		}
		.search-input {
			opacity: 1;
			width: 200px;
			padding: 0px 10px;
		}
	}
}
