.node {
	align-items: end;
	flex-direction: column;
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: end;
	border-radius: 8px;
}

.Factory {
	min-height: 1200px;
	min-width: 1200px;
	background-color: #ebecec;
	border: 1px solid #d1d5db;
}

.SAR {
	min-width: 150px;
	min-height: 150px;
	background-color: #fef9c3;
	border: 1px solid #eab308;
}

.FGU {
	min-width: 150px;
	min-height: 150px;
	background-color: #bbf7d0;
	border: 1px solid #22c55e;
}

.KPPSOD {
	min-width: 150px;
	min-height: 150px;
	background-color: #fed7aa;
	border: 1px solid #f97316;
}

.MNS {
	min-width: 600px;
	min-height: 250px;
	background-color: #fbcfe8;
	border: 1px solid #ec4899;
}

.PNS {
	min-width: 600px;
	min-height: 250px;
	background-color: #c7d2fe;
	border: 1px solid #6366f1;
}

.nodeName {
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	border: none;
	outline: none;
	color: inherit;
	text-align: center;
	font-size: 22px;
	pointer-events: auto;
	z-index: 1003;
	white-space: nowrap;
}

.settingsButtonWrapper {
	position: absolute;
	bottom: -4px;
	right: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	pointer-events: auto;
}

.deleteButtonWrapper {
	position: absolute;
	bottom: -4px;
	right: -4px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	pointer-events: auto;
}
