.nodeName {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 1200px;
  height: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 8px;
}

.deleteButtonWrapper {
  position: absolute;
  bottom: -5px;
  right: 0px;
  z-index: 10;
}
