.select {
	width: auto;
	background-color: var(--glass-dark-bg);
	border-radius: var(--border-radius-lg) !important;
	backdrop-filter: var(--effect-blur);
	box-shadow: var(--effect-shadow);
	border: none;
	height: var(--button-height-md);
	overflow: hidden;
}

.select :global(.MuiOutlinedInput-root) {
	height: 100%;
	border-radius: var(--border-radius-lg) !important;
}

.select :global(.MuiOutlinedInput-input) {
	border-radius: var(--border-radius-lg) !important;
}

.select :global(.MuiOutlinedInput-notchedOutline) {
	border: none !important;
}

.select :global(.MuiSelect-select) {
	padding: 0 32px 0 12px !important;
	height: 100% !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	color: var(--glass-dark-text) !important;
	font-size: var(--font-size-base) !important;
	font-weight: var(--font-weight-semibold) !important;
	line-height: var(--line-height-normal) !important;
}

.select :global(.MuiSvgIcon-root) {
	color: var(--glass-dark-text) !important;
}

.select:hover {
	background-color: var(--glass-dark-bg-hover);
}

.select:hover :global(.MuiOutlinedInput-notchedOutline) {
	border: none !important;
}

.select:global(.Mui-focused) {
	background-color: var(--glass-dark-bg-hover);
}

.select:global(.Mui-focused) :global(.MuiOutlinedInput-notchedOutline) {
	border: none !important;
}

.code {
	margin-left: var(--spacing-md);
	opacity: 0.6;
	font-size: var(--font-size-base);
}
