.select {
	min-width: 120px;
	background-color: var(--glass-dark-bg);
	border-radius: var(--border-radius-lg) !important;
	backdrop-filter: var(--effect-blur);
	box-shadow: var(--effect-shadow);
	border: none;
	height: var(--button-height-md);
	overflow: hidden;
}

.select :global(.MuiOutlinedInput-root) {
	height: 100%;
	border-radius: var(--border-radius-lg) !important;
}

.select :global(.MuiOutlinedInput-input) {
	border-radius: var(--border-radius-lg) !important;
}

.select :global(.MuiOutlinedInput-notchedOutline) {
	border: none !important;
}

.select :global(.MuiSelect-select) {
	padding: 0 var(--spacing-xxxxxl) 0 var(--spacing-xl) !important;
	height: 100% !important;
	display: flex !important;
	align-items: center !important;
	color: var(--glass-dark-text) !important;
	font-size: 0.875rem !important;
	font-weight: var(--font-weight-semibold) !important;
	line-height: var(--line-height-normal) !important;
}

.select :global(.MuiSvgIcon-root) {
	color: var(--glass-dark-text) !important;
}

.select:hover {
	background-color: var(--glass-dark-bg-hover);
}

.select:hover :global(.MuiOutlinedInput-notchedOutline) {
	border: none !important;
}

.select:global(.Mui-focused) {
	background-color: var(--glass-dark-bg-hover);
}

.select:global(.Mui-focused) :global(.MuiOutlinedInput-notchedOutline) {
	border: none !important;
}
