.container {
	display: flex;
	align-items: center;
	gap: var(--spacing-xl);
	padding: var(--spacing-lg) var(--spacing-xl);
	border-radius: var(--border-radius-md);
}

.label {
	min-width: 160px;
	color: var(--color-text-secondary);
	font-size: 0.875rem;
	font-weight: var(--font-weight-medium);
	display: flex;
	align-items: center;
	gap: var(--spacing-md-plus);
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.label p {
	font-size: 0.875rem !important;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}

.label svg {
	color: var(--color-icon-muted);
}

.value {
	flex: 1;
	color: var(--color-text-primary);
	font-weight: var(--font-weight-medium);
	font-size: 0.875rem;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.value p {
	font-size: 0.875rem !important;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
}
