.container {
	background-color: var(--color-white);
	border-radius: var(--border-radius-xxxl);
	padding: var(--spacing-xxxxxl);
	margin-bottom: 0;
	box-shadow: var(--effect-shadow-lg);
}

.title {
	margin-bottom: var(--margin-xxxl);
	color: var(--color-text-primary);
	font-weight: var(--font-weight-semibold);
	font-size: 1.125rem;
}

.actions {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-lg);
}

.actionButton {
	text-transform: none;
	justify-content: flex-start;
	padding: 14px var(--spacing-xxl);
	border-radius: var(--border-radius-xl);
	font-weight: var(--font-weight-medium);
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-size: 0.875rem;
}
