.main-content {
	height: 100%;
	overflow: hidden;
	flex-grow: 1;
	background-color: var(--color-white);
	transition: margin-left 0.3s ease;
	margin-left: 0;
	position: relative;
}

.main-content.shifted {
	margin-left: 250px;
}

.pageTitle {
	position: absolute;
	background-color: var(--color-background);
	top: 0;
	left: 0;
	padding: var(--spacing-md);
	text-align: left;
	border-bottom: 1px solid lightgray;
	border-right: 1px solid lightgray;
	border-bottom-right-radius: 8px;
	transition: left 0.3s ease;
	z-index: 5;
}

.open {
	left: 250px;
}

.compass {
	position: absolute;
	bottom: 8px;
	right: 8px;
	width: 90px;
	height: 90px;
	border: 2px solid var(--color-border-dashed);
	border-radius: 50%;
	background: radial-gradient(
		circle at center,
		var(--color-background-light) 60%,
		var(--color-border-divider) 100%
	);
	box-shadow: var(--effect-shadow);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 15;
	transition: transform 0.3s ease;
}

.needle {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 20px solid #ef4444;
	top: 25px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.labelNorth,
.labelSouth,
.labelEast,
.labelWest {
	position: absolute;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-semibold);
	color: var(--color-text-primary);
	user-select: none;
	transition: color 0.2s;
}

.labelNorth {
	top: 6px;
	left: 50%;
	transform: translateX(-50%);
}

.labelSouth {
	bottom: 6px;
	left: 50%;
	transform: translateX(-50%);
}

.labelWest {
	left: 6px;
	top: 50%;
	transform: translateY(-50%);
}

.labelEast {
	right: 6px;
	top: 50%;
	transform: translateY(-50%);
}
