.container {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: var(--color-background-light);
}

.form {
	width: 100%;
	max-width: var(--max-width-form);
	background-color: var(--color-white);
	padding: 2rem;
	border: 1px solid var(--color-border-light);
	border-radius: 1rem;
	box-shadow: var(--effect-shadow-lg);
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
