.nodeName {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.settingsButtonWrapper {
	position: absolute;
	bottom: -24px;
	right: -11px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	pointer-events: auto;
}

.lockButtonWrapper {
	position: absolute;
	bottom: -24px;
	right: -32px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	pointer-events: auto;
}

.deleteButtonWrapper {
	position: absolute;
	bottom: -24px;
	right: -54px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	pointer-events: auto;
}

.container {
	position: relative;
	width: var(--size-node-icon);
	height: var(--size-node-icon);
	background-color: #a5f3fc;
	border: 1px solid #06b6d4;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.innerCircle {
	width: 30px;
	height: 30px;
	background-color: #67e8f9;
	border: 1px solid #0ea5e9;
	border-radius: 50%;
}
