.nodeName {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.settingsButtonWrapper {
	position: absolute;
	bottom: -30px;
	right: -11px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.lockButtonWrapper {
	position: absolute;
	bottom: -30px;
	right: -32px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.deleteButtonWrapper {
	position: absolute;
	bottom: -30px;
	right: -54px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.circle-container {
	position: relative;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle {
	width: 50px;
	height: 50px;
	border-radius: 0;
	background-color: #bbf7d0;
	border: 1px solid #4ade80;
	transition:
		border-color 0.3s ease,
		background-color 0.3s ease;
}
