.nodeName {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.settingsButtonWrapper {
	position: absolute;
	bottom: -24px;
	right: -11px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	pointer-events: auto;
}

.lockButtonWrapper {
	position: absolute;
	bottom: -24px;
	right: -32px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	pointer-events: auto;
}

.deleteButtonWrapper {
	position: absolute;
	bottom: -24px;
	right: -54px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	pointer-events: auto;
}

.container {
	position: relative;
	width: var(--size-node-icon);
	height: var(--size-node-icon);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	border-radius: var(--border-radius-md);
}

/* Левый треугольник ">" */
.triangle-left {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 25px solid #fde68a;
	position: absolute;
	left: 0px;
	top: calc(50% - 20px);
}

/* Правый треугольник "<" */
.triangle-right {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 25px solid #fde68a;
	position: absolute;
	right: 0px;
	top: calc(50% - 20px);
}
