.container {
	padding: 2rem 0;
	min-height: 100vh;
	background-color: var(--color-background);
	width: 100%;
}

.contentWrapper {
	max-width: var(--max-width-profile);
	margin: 0 auto;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xxxl);
}

.title {
	text-align: center;
	margin-bottom: var(--margin-32);
	color: var(--color-text-primary);
	font-weight: var(--font-weight-semibold);
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: var(--margin-section-lg);
}

.error {
	text-align: center;
	margin-top: var(--margin-32);
	color: var(--color-danger);
	font-size: 1.1rem;
}
