.nodeName {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.deleteButtonWrapper {
	position: absolute;
	bottom: -320px;
	right: 130px;
	transform: translateX(50%);
}

/* River */
.river-container {
	position: relative;
	width: 250px;
	height: 8px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 8px;
	background-color: #93c5fd;
	border: 1px solid #1e3a8a;
	border-radius: 20px;
	transform: rotate(60deg);
	transform-origin: center;
	cursor: pointer;
	transition: transform 0.2s ease;
}
