.nodeName {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.settingsButtonWrapper {
	position: absolute;
	bottom: -280px;
	right: 115px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	pointer-events: auto;
}

.lockButtonWrapper {
	position: absolute;
	bottom: -280px;
	right: 97px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	pointer-events: auto;
}

.deleteButtonWrapper {
	position: absolute;
	bottom: -280px;
	right: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	pointer-events: auto;
}

/* River */
.river-container {
	position: relative;
	width: var(--size-avatar-lg);
	height: 8px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: var(--spacing-md);
	background-color: var(--color-node-capacity-bg-top);
	border: 1px solid #1e3a8a;
	border-radius: var(--border-radius-xxxl);
	transform: rotate(60deg);
	transform-origin: center;
	cursor: pointer;
	transition: transform 0.2s ease;
}
