.container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xl);
	padding: var(--spacing-xxl);
	background-color: var(--color-white);
	border-radius: var(--border-radius-md);
	box-shadow: var(--effect-shadow-sm);
	border: 1px solid var(--color-border-very-light);
}

.filters {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: var(--spacing-xl);
}

.filter {
	min-width: 0;
}

.actions {
	display: flex;
	justify-content: flex-end;
	padding-top: var(--spacing-md);
	border-top: 1px solid var(--color-border-very-light);
}
