.nodeName {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.deleteButtonWrapper {
	position: absolute;
	bottom: -5px;
	right: 0px;
	z-index: 10;
}

.container {
	position: relative;
	width: var(--max-width-info);
	height: var(--size-avatar-lg);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #c7d2fe;
	border: 1px solid #6366f1;
	border-radius: var(--border-radius-md);
}
