.nodeName {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.deleteButtonWrapper {
  position: absolute;
  bottom: -23px;
  right: 30px;
  transform: translateX(50%);
}

.circle-container {
  position: relative;
  width: 137px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.chart-cylinder {
  width: 137px;
  height: 100px;
  border-radius: 50% / 23px;
  border: 1px solid black;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

/* Овал сверху цилиндра */
.chart-cylinder::before {
  content: '';
  position: absolute;
  top: -2px; /* поднимем немного вверх, чтобы выглядело как крышка */
  left: 0;
  right: 0;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: transparent;
}


