.nodeName {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.settingsButtonWrapper {
	position: absolute;
	bottom: -5px;
	right: 0px;
	z-index: 10;
}

.lockButtonWrapper {
	position: absolute;
	bottom: -5px;
	right: -25px;
	z-index: 10;
}

.deleteButtonWrapper {
	position: absolute;
	bottom: -5px;
	right: -50px;
	z-index: 10;
}

.container {
	position: relative;
	width: var(--size-node-medium);
	height: var(--size-node-medium);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: 1px solid black;
	border-radius: var(--border-radius-md);
}
