.nodeName {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.settingsButtonWrapper {
	position: absolute;
	bottom: -5px;
	right: 0px;
	z-index: 10;
}

.deleteButtonWrapper {
	position: absolute;
	bottom: -5px;
	right: -50px;
	z-index: 10;
}

.container {
	position: relative;
	width: 150px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: 1px solid black;
	border-radius: 8px;
}
