* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	font-family:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.app-layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.react-flow__attribution {
	display: none;
}

.content-layout {
	display: flex;
	flex: 1;
	overflow: hidden;
}

.react-flow__node-ChildObject {
	z-index: 1002 !important;
}

.react-flow__node-MNS {
	z-index: 1001 !important;
}

.react-flow__node-Object {
	z-index: 1001 !important;
}

.react-flow__node-SAR {
	z-index: 1001 !important;
}

.react-flow__node-FGU {
	z-index: 1001 !important;
}

.react-flow__node-KPPSOD {
	z-index: 1001 !important;
}

.react-flow__node-Factory {
	z-index: 1000 !important;
}

.react-flow__node-Valve {
	z-index: 1002 !important;
}

.react-flow__node-Pump {
	z-index: 1002 !important;
}

.react-flow__node-AccountingSystem {
	z-index: 1002 !important;
}

.react-flow__node-ChildTankPark {
	z-index: 1002 !important;
}

.react-flow__node-Capacity {
	z-index: 1002 !important;
}

.react-flow__node-PNS {
	z-index: 1001 !important;
}

.react-flow__resize-control.handle {
	width: 10px !important;
	height: 10px !important;
}

.react-flow__resize-control.handle.left {
	left: -5px !important;
	top: 50% !important;
}
.react-flow__resize-control.handle.right {
	left: calc(100% + 5px) !important;
	top: 50% !important;
}
.react-flow__resize-control.handle.top {
	left: 50% !important;
	top: -5px !important;
}
.react-flow__resize-control.handle.bottom {
	left: 50% !important;
	top: calc(100% + 5px) !important;
}
.react-flow__resize-control.handle.top.left {
	left: -5px !important;
}
.react-flow__resize-control.handle.bottom.left {
	left: -5px !important;
}
.react-flow__resize-control.handle.top.right {
	left: calc(100% + 5px) !important;
}
.react-flow__resize-control.handle.bottom.right {
	left: calc(100% + 5px) !important;
}

.react-flow__resize-control.line.top {
	top: -5px !important;
}
.react-flow__resize-control.line.right {
	left: calc(100% + 5px) !important;
}
.react-flow__resize-control.line.bottom {
	top: calc(100% + 5px) !important;
}
.react-flow__resize-control.line.left {
	left: -5px !important;
}

.react-flow__resize-control.line.left,
.react-flow__resize-control.line.right {
	top: -5px !important;
	height: calc(100% + 10px) !important;
}

.react-flow__resize-control.line.top,
.react-flow__resize-control.line.bottom {
	left: -5px !important;
	width: calc(100% + 10px) !important;
}

.node-name {
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	border: none;
	outline: none;
	color: inherit;
	text-align: center;
	font-size: 22px;
	pointer-events: auto;
	z-index: 1003;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
