.nodeName {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.settingsButtonWrapper {
	position: absolute;
	bottom: -24px;
	right: -11px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.lockButtonWrapper {
	position: absolute;
	bottom: -24px;
	right: -32px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.deleteButtonWrapper {
	position: absolute;
	bottom: -24px;
	right: -54px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.circle-container {
	position: relative;
	width: 137px;
	height: var(--size-cylinder-height);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 1;
}

.chart-cylinder {
	width: 137px;
	height: var(--size-cylinder-height);
	border-radius: 50% / 23px;
	border: 1px solid var(--color-node-border-dark);
	background-color: var(--color-bg-gray-light);
	position: relative;
	overflow: hidden;
	transition:
		border-color 0.3s ease,
		background-color 0.3s ease;
}

/* Овал сверху цилиндра */
.chart-cylinder::before {
	content: '';
	position: absolute;
	top: -2px;
	left: 0;
	right: 0;
	height: var(--size-cylinder-top-height);
	border-radius: 50%;
	border: 1px solid
		var(--cylinder-top-border-color, var(--color-node-border-dark));
	background-color: var(--cylinder-top-bg, #e2e8f0);
	transition:
		border-color 0.3s ease,
		background-color 0.3s ease;
}
