.nodeName {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.settingsButtonWrapper {
	position: absolute;
	bottom: -24px;
	right: -11px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.lockButtonWrapper {
	position: absolute;
	bottom: -24px;
	right: -32px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.deleteButtonWrapper {
	position: absolute;
	bottom: -24px;
	right: -54px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.circle-container {
	position: relative;
	width: 137px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 1;
}

.chart-cylinder {
	width: 137px;
	height: 100px;
	border-radius: 50% / 23px;
	border: 1px solid #464748;
	background-color: #f1f5f9;
	position: relative;
	overflow: hidden;
}

/* Овал сверху цилиндра */
.chart-cylinder::before {
	content: '';
	position: absolute;
	top: -2px;
	left: 0;
	right: 0;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #464748;
	background-color: #e2e8f0;
}
