/* .nodeName {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.deleteButtonWrapper {
	position: absolute;
	bottom: -5px;
	right: 0px;
	z-index: 10;
}

.container {
	position: relative;
	width: var(--size-node-medium);
	height: var(--size-node-medium);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #bbf7d0;
	border: 1px solid #22c55e;
	border-radius: var(--border-radius-md);
} */
