.nodeWrapper {
	position: relative;
	width: var(--size-node-small);
	height: var(--size-node-small);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: visible;
}

.visualContainer {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.nodeName {
	position: absolute;
	top: -40px;
	left: 50%;
	transform: translateX(-50%);
	width: max-content;
	min-width: var(--size-node-small);
	text-align: center;
	color: inherit;
	font-size: 30px !important;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
	z-index: 2;
	white-space: nowrap;
	overflow: visible;
}

.copyButtonWrapper {
	position: absolute;
	bottom: -24px;
	right: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.settingsButtonWrapper {
	position: absolute;
	bottom: -24px;
	right: -18px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.lockButtonWrapper {
	position: absolute;
	bottom: -24px;
	right: -40px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.deleteButtonWrapper {
	position: absolute;
	bottom: -24px;
	right: -60px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.circle-container {
	position: relative;
	width: var(--size-node-small);
	height: var(--size-node-small);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.circle {
	width: var(--size-node-small);
	height: var(--size-node-small);
	border-radius: 50%;
	border: 1px solid var(--color-node-ops-border);
	position: relative;
	transform: rotate(135deg);
	transition:
		border-color 0.3s ease,
		background 0.3s ease;
}
