.nodeName {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.deleteButtonWrapper {
	position: absolute;
	bottom: -20px;
	right: 120px;
	transform: translateX(50%);
}

.circle-container {
	position: relative;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: conic-gradient(
		#1d502f 0deg 90deg,
		#9cf8bc 90deg 180deg,
		#1d502f 180deg 270deg,
		#9cf8bc 270deg 360deg
	);
	border: 1px solid #15803d;
	position: relative;
	transform: rotate(135deg);
}

/* Крестик "×" в центре круга
.cross {
	position: absolute;
	width: 60px;
	height: 70px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cross::before,
.cross::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: #1e293b;
	transform-origin: center;
}

.cross::before {
	transform: translateX(-50%) rotate(45deg);
}

.cross::after {
	transform: translateX(-50%) rotate(-45deg);
} */
