* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.react-flow__node-ChildObject {
  z-index: 1002 !important;
}

.react-flow__node-ParentObject {
  z-index: 1001 !important;
}

.react-flow__node-Object {
  z-index: 1001 !important;
}

.react-flow__node-Factory {
  z-index: 1000 !important;
}
