.form {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
}

.uploadSection {
	margin-top: var(--margin-xl);
	margin-bottom: var(--margin-md);
}

.actions {
	display: flex;
	justify-content: flex-end;
	gap: var(--spacing-lg);
	margin-top: var(--margin-xl);
}
