.form {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.uploadSection {
	margin-top: 16px;
	margin-bottom: 8px;
}

.actions {
	display: flex;
	justify-content: flex-end;
	gap: 12px;
	margin-top: 16px;
}

