.nodeName {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.settingsButtonWrapper {
	position: absolute;
	bottom: -25px;
	right: -15px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.lockButtonWrapper {
	position: absolute;
	bottom: -25px;
	right: -30px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.deleteButtonWrapper {
	position: absolute;
	bottom: -25px;
	right: -45px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.circle-container {
	position: relative;
	width: var(--size-node-icon);
	height: var(--size-cylinder-height);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 1;
}

.chart-cylinder {
	width: var(--size-node-icon);
	height: var(--size-cylinder-height);
	border-radius: 50% / 23px;
	border: 1px solid var(--color-text-secondary);
	background-color: var(--color-node-capacity-bg);
	position: relative;
	overflow: hidden;
}

.chart-cylinder::before {
	content: '';
	position: absolute;
	top: -2px;
	left: 0;
	right: 0;
	height: var(--size-cylinder-top-height);
	border-radius: 50%;
	border: 1px solid var(--color-text-secondary);
	background-color: var(--color-node-capacity-bg-top);
}
